[package]
name = "andromeda-deploy"
version = "0.0.1"
edition = "2021"
rust-version = "1.75.0"
description = "The deploy tool for aOS"
license = "MIT"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.216", default-features = false, features = ["derive"] }
cw-orch = { workspace = true }
cw-orch-daemon = "0.24.2"
thiserror = "2.0.7"
env_logger = "0.11.5"
log = "0.4"
dotenv = "0.15.0"
reqwest = { version = "0.12", features = ["json", "blocking"] }
serde_json = "1.0"
chrono = "0.4"

# OS Contracts
andromeda-kernel = { version = "1.2.0-b.1", path = "../../contracts/os/andromeda-kernel" }
andromeda-adodb = { version = "1.1.1", path = "../../contracts/os/andromeda-adodb" }
andromeda-vfs = { version = "1.1.1", path = "../../contracts/os/andromeda-vfs" }
andromeda-economics = { version = "1.1.1", path = "../../contracts/os/andromeda-economics" }
andromeda-ibc-registry = { version = "1.0.1", path = "../../contracts/os/andromeda-ibc-registry" }

# Finance Contracts
andromeda-splitter = { path = "../../contracts/finance/andromeda-splitter" }
andromeda-validator-staking = { path = "../../contracts/finance/andromeda-validator-staking" }
andromeda-vesting = { path = "../../contracts/finance/andromeda-vesting" }
andromeda-timelock = { path = "../../contracts/finance/andromeda-timelock" }
andromeda-conditional-splitter = { path = "../../contracts/finance/andromeda-conditional-splitter" }
andromeda-rate-limiting-withdrawals = { path = "../../contracts/finance/andromeda-rate-limiting-withdrawals" }
andromeda-set-amount-splitter = { path = "../../contracts/finance/andromeda-set-amount-splitter" }
andromeda-weighted-distribution-splitter = { path = "../../contracts/finance/andromeda-weighted-distribution-splitter" }

# Data Storage Contracts
andromeda-primitive = { path = "../../contracts/data-storage/andromeda-primitive" }
andromeda-boolean = { path = "../../contracts/data-storage/andromeda-boolean" }
andromeda-string-storage = { path = "../../contracts/data-storage/andromeda-string-storage" }

# Fungible Tokens Contracts
andromeda-cw20-staking = { path = "../../contracts/fungible-tokens/andromeda-cw20-staking" }
andromeda-cw20 = { path = "../../contracts/fungible-tokens/andromeda-cw20" }
andromeda-cw20-exchange = { path = "../../contracts/fungible-tokens/andromeda-cw20-exchange" }
andromeda-lockdrop = { path = "../../contracts/fungible-tokens/andromeda-lockdrop" }
andromeda-merkle-airdrop = { path = "../../contracts/fungible-tokens/andromeda-merkle-airdrop" }

# Non-Fungible Tokens Contracts
andromeda-cw721 = { path = "../../contracts/non-fungible-tokens/andromeda-cw721" }
andromeda-auction = { path = "../../contracts/non-fungible-tokens/andromeda-auction" }
andromeda-crowdfund = { path = "../../contracts/non-fungible-tokens/andromeda-crowdfund" }
andromeda-marketplace = { path = "../../contracts/non-fungible-tokens/andromeda-marketplace" }

# App Contracts
andromeda-app-contract = { path = "../../contracts/app/andromeda-app-contract" }

# Modules Contracts
andromeda-address-list = { path = "../../contracts/modules/andromeda-address-list" }
andromeda-rates = { path = "../../contracts/modules/andromeda-rates" }

# Math Contracts
andromeda-counter = { path = "../../contracts/math/andromeda-counter" }
andromeda-curve = { path = "../../contracts/math/andromeda-curve" }
andromeda-distance = { path = "../../contracts/math/andromeda-distance" }
andromeda-date-time = { path = "../../contracts/math/andromeda-date-time" }
andromeda-shunting = { path = "../../contracts/math/andromeda-shunting" }

andromeda-std = { workspace = true }

[dev-dependencies]
cw-multi-test = { version = "1.0.0" }

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[build]
incremental = true
