[package]
name = "andromeda-modules"
version = "2.0.0"
edition = "2021"
rust-version = "1.86.0"
description = "Utility methods and message definitions for the Andromeda Module Contracts"
license = "MIT"

[features]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
serde = { workspace = true }
cw-utils = { workspace = true }
cw721 = { workspace = true }

andromeda-std = { workspace = true, features = ["rates"] }
