[package]
name = "andromeda-modules"
version = "0.1.0"
authors = ["Connor Barr <crnbarr@gmail.com>"]
edition = "2018"

[features]
backtraces = ["cosmwasm-std/backtraces"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.2.1"
cosmwasm-schema = "1.2.1"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.10"
common = { path = "../common", version = "0.1.0" }
andromeda-finance = { version = "0.1.0", path = "../andromeda-finance" }
amp = { path = "../amp" }


[dev-dependencies]
andromeda-testing = { version = "0.1.0", path = "../andromeda-testing" }
