[package]
name = "andromeda-cw20-staking"
version = "0.2.0"
authors = ["AndrewPochapsky <andrew.pochapsky@gmail.com>"]
edition = "2018"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []
testing = ["cw-multi-test"]

[dependencies]
cosmwasm-std = "1.2.1"
cosmwasm-schema = "1.2.1"
cw-storage-plus = "0.16.0"
schemars = "0.8.10"
cw20 = "0.16.0"
cw2 = "0.16.0"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
cw-asset = "2.0.0"
semver = "1"
cw-utils = "0.16.0"

andromeda-fungible-tokens = { version = "0.1.0", path = "../../../packages/andromeda-fungible-tokens" }
common = { version = "0.1.0", path = "../../../packages/common" }
ado-base = { path = "../../../packages/ado-base", version = "0.1.0" }
andromeda-os = { version = "0.1.0", path = "../../../packages/andromeda-os" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { version = "0.16.0", optional = true }

