node_modules/
artifacts/
target/
**/.DS_Store/
**/.DS_Store
artifacts*
.vscode*
ci-scripts/localrelayer/template/
**/.idea/
.idea/
**/schema/**/*.json
/ibc-tests/config.yml 
/ibc-tests/*.cache.json
/ibc-tests/relayer.log.txt