[package]
name = "andromeda-std"
version = "1.5.1-b.11"
edition = "2021"
rust-version = "1.86.0"
description = "The standard library for creating an Andromeda Digital Object"
license = "MIT"

[features]
primitive = []
instantiate = []
rates = ["andromeda-macros/rates"]
deploy = []
distribution = ["prost", "osmosis-std-derive"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true,  features = ["stargate", "cosmwasm_2_0"] }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
schemars = "0.8.22"
serde = { workspace = true }
semver = { workspace = true }
cw20 = { workspace = true }
cw20-base = { workspace = true, features = ["library"] }
cw721-base = { workspace = true }
cw-utils = { workspace = true }
cw2 = { workspace = true }
cw-asset = { workspace = true }
thiserror = { version = "2.0.15" }
lazy_static = "1"
hex = "0.4"
regex = { version = "1.9.1", default-features = false }
andromeda-macros = { workspace = true }
strum_macros = { workspace = true }
cw721 = { workspace = true }
serde-json-wasm = "1.0.1"
enum-repr = { workspace = true }
sha2 = { workspace = true }
osmosis-std-derive = { version = "0.26.0", optional = true }
prost = { version = "0.13.5", default-features = false, features = [
    "prost-derive",
], optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { workspace = true }
rstest = "0.26.1"
cw-orch = { workspace = true }
