[package]
name = "andromeda-validator-staking"
version = "0.3.0-b.1"
edition = "2021"
rust-version = "1.75.0"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []
testing = ["cw-multi-test"]

[dependencies]
cosmwasm-std = { workspace = true, features = ["staking"] }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
serde = { workspace = true }

andromeda-std = { workspace = true, features = ["distribution"] }
andromeda-finance = { workspace = true }
enum-repr = { workspace = true }
chrono = "0.3"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { workspace = true, optional = true }
andromeda-testing = { workspace = true }
cw-orch = { workspace = true }
cw-orch-daemon = "0.24.2"