[package]
name = "andromeda-kernel"
version = "1.1.1"
authors = ["Connor Barr <crnbarr@gmail.com>"]
edition = "2021"
rust-version = "1.65.0"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
library = []
testing = ["cw-multi-test"]

[dependencies]
cosmwasm-std = { workspace = true, features = ["ibc3"] }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw20 = { workspace = true }
cw-utils = { workspace = true }
serde-json-wasm = "1.0.1"
serde-cw-value = "0.7.0"
osmosis-std-derive = "0.15.3"
osmosis-std = "0.1.4"
prost = { version = "0.11.2", default-features = false, features = [
  "prost-derive",
] }
serde = { workspace = true }
schemars = "0.8.10"
hex = "0.4.3"
itertools = "0.13"


andromeda-std = { workspace = true }


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { workspace = true, optional = true }
cw-orch = { workspace = true }

[dev-dependencies]
# andromeda-testing = { workspace = true, optional = true }
