[package]
name = "andromeda-testing-e2e"
version = "1.0.0"
authors = ["Albert Hu <web3pirate@outlook.com>"]
edition = "2021"
description = "E2E Testing utilities for Andromeda Digital Object Contracts"
license = "MIT"

[features]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw721 = { workspace = true }
cw20 = { workspace = true }
anyhow = "1.0.100"

andromeda-non-fungible-tokens = { workspace = true }
andromeda-app = { path = "../andromeda-app" }
andromeda-modules = {  path = "../andromeda-modules" }
andromeda-adodb = {  path = "../../contracts/os/andromeda-adodb", features = [
    "testing",
] }
andromeda-kernel = { path = "../../contracts/os/andromeda-kernel", features = [
    "testing",
] }
andromeda-vfs = { path = "../../contracts/os/andromeda-vfs", features = [
    "testing",
] }
andromeda-economics = { path = "../../contracts/os/andromeda-economics", features = [
    "testing",
    "library",
] }
andromeda-std = { workspace = true }
serde = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { workspace = true }
cw-orch-daemon = "0.29.1"
anyhow = "1.0.100"
tokio = "1.47.1"
cw-orch = { workspace = true }
