[package]
name = "andromeda-non-fungible-tokens"
version = "0.1.0"
edition = "2018"

[features]
backtraces = ["cosmwasm-std/backtraces"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.1.4"
cosmwasm-schema = "1.1.4"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.10"
cw-utils = "0.15.0"
cw721 = "0.15.0"
cw721-base = { version = "0.15.0", features=["library"]}

common = { path = "../common", version = "0.1.0" }
