[package]
name = "andromeda-merkle-airdrop"
version = "0.2.16"
edition = "2021"
rust-version = "1.65.0"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []
testing = ["cw-multi-test"]


[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw-utils = { workspace = true}
cw2 = { workspace = true }
cw20 = { workspace = true }
cw-asset = { workspace = true }
semver = { workspace = true }
sha2 = "0.10.6"
hex = "0.4.3"
serde = "1.0.163"

andromeda-std = { workspace = true }
andromeda-fungible-tokens = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { version = "0.16.0", optional = true }

[dev-dependencies]
andromeda-app = { version = "0.1.0", path = "../../../packages/andromeda-app" }
