[package]
name = "andromeda-automation"
version = "0.1.0"
edition = "2018"

[features]
backtraces = ["cosmwasm-std/backtraces"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.1.2"
cosmwasm-schema = "1.1.2"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.3"

common = { path = "../common", version = "0.1.0" }
andromeda-os = { version = "0.1.0", path = "../../packages/andromeda-os" }
