[package]
name = "andromeda-rates"
version = "0.2.16"
edition = "2021"
rust-version = "1.65.0"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []
testing = ["cw-multi-test"]


[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw-utils = { workspace = true}
cw20 = { workspace = true }
cw2 = { workspace = true }
semver = { workspace = true }

andromeda-std = { workspace = true, features = ["module_hooks"] }
andromeda-modules = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { version = "1.0.0", optional = true }

[dev-dependencies]
andromeda-app = { version = "0.1.0", path = "../../../packages/andromeda-app" }
