[package]
name = "andromeda-rates"
version = "0.1.2"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.1.4"
cosmwasm-schema = "1.1.4"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.10"
cw-storage-plus = "0.15.0"
cw2 = "0.15.0"
cw20 = "0.15.0"
semver = "1"
cw-utils = "0.15.0"

andromeda-modules = { path = "../../../packages/andromeda-modules" }
ado-base = { path = "../../../packages/ado-base", version = "0.1.0" }
common = { version = "0.1.0", path = "../../../packages/common" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = { version = "0.16.0", optional = true }

[dev-dependencies]
andromeda-testing = { version = "0.1.0", path = "../../../packages/andromeda-testing" }

[features]
testing = ["cw-multi-test"]