[package]
name = "andromeda-timelock"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.2.1"
cosmwasm-schema = "1.2.1"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.10"
cw-storage-plus = "0.16.0"
cw721 = "0.16.0"
cw2 = "0.16.0"
semver = "1"

andromeda-finance = { version = "0.1.0", path = "../../../packages/andromeda-finance" }
common = { version = "0.1.0", path = "../../../packages/common" }
ado-base = { path = "../../../packages/ado-base", version = "0.1.0", features = ["modules"] }

[dev-dependencies]

andromeda-testing = { version = "0.1.0", path = "../../../packages/andromeda-testing" }
