[package]
name = "andromeda-app"
version = "1.0.0"
edition = "2021"
rust-version = "1.75.0"
description = "Utility methods and message definitions for the Andromeda App Contract"
license = "MIT"

[features]
backtraces = ["cosmwasm-std/backtraces"]
testing = ["cw-multi-test"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true, features = ["cosmwasm_1_2"] }
cosmwasm-schema = { workspace = true }
serde = { workspace = true }
andromeda-std = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-orch = { workspace = true }
cw-multi-test = { workspace = true, optional = true }
