[package]
name = "andromeda-fungible-tokens"
version = "1.0.1"
edition = "2021"
rust-version = "1.86.0"
description = "Utility methods and message definitions for the Andromeda Fungible Tokens Contracts"
license = "MIT"

[features]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
serde = { workspace = true }
cw-utils = { workspace = true }
cw20 = { workspace = true }
cw20-base = { workspace = true }
cw-asset = { workspace = true }
cw-controllers = "3.0.0"

andromeda-std = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-orch = { workspace = true }
cw-multi-test = { workspace = true, optional = true }
rstest = { workspace = true }
