[package]
name = "andromeda-fungible-tokens"
version = "0.1.0"
edition = "2018"

[features]
backtraces = ["cosmwasm-std/backtraces"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.1.0"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
schemars = "0.8.3"
cw20 = "0.13.2"
cw-utils = "0.13.2"
cw20-base = { version = "0.13.2", features=["library"]}

common = { path = "../common", version = "0.1.0" }
cw-asset = { version = "2.0.0" }

cosmwasm-schema = { version = "1.1.0" }