[package]
name = "andromeda-fungible-tokens"
version = "1.0.0"
edition = "2021"
rust-version = "1.75.0"
description = "Utility methods and message definitions for the Andromeda Fungible Tokens Contracts"
license = "MIT"

[features]
backtraces = ["cosmwasm-std/backtraces"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
cw-utils = { workspace = true }
cw20 = { workspace = true }
cw20-base = { workspace = true }
cw-asset = { workspace = true }


andromeda-std = { workspace = true }
