[package]
name = "andromeda-app-contract"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { version = "1.0.0" }
cw-storage-plus = "0.13.2"
cw2 = "0.13.2"
schemars = "0.8.3"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
semver = "1"

andromeda-app = { version = "0.1.0", path = "../../../packages/andromeda-app" }
ado-base = { path = "../../../packages/ado-base", version = "0.1.0", features=["instantiate"] }
common = { version = "0.1.0", path = "../../../packages/common" }

[dev-dependencies]
cosmwasm-schema = { version = "1.1.0" }
andromeda-testing = { version = "0.1.0", path = "../../../packages/andromeda-testing" }
prost = "0.9"
